.scoreBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;

}

.block {
    margin: 100px;
}


form input,
form textarea {
    width: 300px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid silver;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin-top: 20px;
    resize: none;
}

.match {
    border: silver 2px solid;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

form button, .edit-btn {
    margin-top: 20px;
    padding: 10px 25px;
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background: cornflowerblue;
    transition: background 500ms ease;
}

form button:hover {
    background: #964434;
}