<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>match-score</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>



    <div class="scoreBoard">

        <div class="block">
            <h1>Players</h1>
            <div class="contain">
                <h2 th:text="${player1.name}"></h2>
                <h2 th:text="${player2.name}"></h2>
            </div>

        </div>

        <div class="block">
            <h1>Sets</h1>
            <div class="contain">
                <h2 th:text="${player1Score.set}"></h2>
                <h2 th:text="${player2Score.set}"></h2>
            </div>

        </div>

        <div class="block">
            <h1>Games</h1>
            <div class="contain">
                <h2 th:text="${player1Score.game}"></h2>
                <h2 th:text="${player2Score.game}"></h2>
            </div>

        </div>

        <div class="block">
            <h1> Points</h1>
            <div class="contain">
                <h2 th:text="${player1Score.point}"></h2>
                <h2 th:text="${player2Score.point}"></h2>
            </div>
        </div>
    </div>



    <form method="post" th:action="@{'/match-score/'+ ${uuid}}" >
        <button type="submit" name="scoredBallPlayerId" th:value="${player1.id}">Player 1 won one point</button>
    </form>

    <form  method="post" th:action="@{'/match-score/'+ ${uuid}}">
        <button type="submit" name="scoredBallPlayerId" th:value="${player2.id}">Player 2 won one point</button>
    </form>

    <a href="/new-match">New match page</a>




</body>
</html>